<div style="width: 700px;text-align: center; margin: auto; font-family: arial; font-size: 12px">
<center>
  (this is a sample only)
<h2>Republic of the Philippines</h2>
<h2>Professional Regulation Comission</h2>
<h3>Manila</h3>

APPLICATION DIVISION
<br><br>
NOTICE OF ADMISSION ( NOA )
<br><br><br/>
Sir/Madam : <strong><%= @student.fullname %></strong>
<br/><br/><br/>

<p>
Your application for the NURSING licensure examination has been CONDITIONALLY APPROVED PENDING FINAL REVIEW AND VERIFICATION of your documents and qualifications.  
</p>

<p>
  You may also be allowed to take the xaminations, PROVIDED, that if later found out that you are disqualified due to misrepresentations of fraudelent/spurious documents, or discrepancies in entries in the Transcript  of Records and Birth Certificate, your examination shall be CANCELLED after observance of due process.
</p>

<p>
  Your school/building assignment will be posted at the PRC Office premises one or two days before the examination date. Bring this Notice of Admission when you verify your school / building assignment. The Program of Examination will be available at the PRC Customer Service Center one week before the examination date.
</p>

<p>
  Please report to your officially assigned school/building/room before 6:30 a.m. every examination day. Present this NOTICE to the Security Officer at the entrance gate or at the test center and to your Room Watcher for IDENTIFICATION.
</p>

<p>
  Please read the GENERAL INSTRUCTIONS at the back page.</p>
<p> KEEP THIS NOTICE FOR FUTURE REFERENCE/CERTIFICATION.</p>

Very truly yours,
<br/>
By Authority of the Board:
<br/><br/>
Chief, Application Division
<br/>
<hr>
(FOR PRC USE ONLY)
<br/>
<h2> ACKNOWLEDGEMENT ON THE RECEIPT OF TEST PAPERS</H2>
<P>I acknowledge receipt of the test papers of the above-named examinee on the subject/s indicated below:</p>


</center>
</div>
