<span class="page_title">Add Student</span>
<br/><br/>
<% form_tag new_student_path, :method => 'post' do %>
<table cellpadding=2 cellspacing=2 width="95%">
  <tr>
    <td bgcolor="#6699FF"> NURSES' APPLICATION FORM</td>
  </tr>
  <tr bgcolor="#C0C0C0">
    <td> 

      <table border="0" width="800">
        <tr>
          <td width="220" align="right">Application No.: </td>
          <td><%= text_field_tag "application_no"%></td>
        </tr>
        <tr>
          <td width="220" align="right">Examinee Type: </td>
          <td><%= radio_button_tag "exam_type", "new" %>1st Timer(New)
            <%= radio_button_tag "exam_type", "repeater" %>Repeater
            <%= radio_button_tag "exam_type", "conditioned" %>Conditioned
            </td>
        </tr>
        <tr>
          <td width="220" align="right">Degree: </td>
          <td><%= radio_button_tag "degree", "new" %>Regular B.S. Nursing
            <%= radio_button_tag "degree", "new" %>With Other Degree(s)
            
          </td>
        </tr>
      </table>

    </td>
  </tr>


  <tr>
    <td bgcolor="#6699FF"> PERSONAL INFORMATION</td>
  </tr>
  <tr bgcolor="#C0C0C0">
    <td> 

      <table border="0" width="800">
        <tr>
          <td width="220" align="right">Surname/Family Name :</td>
          <td><%= text_field_tag "student[lastname]"%></td>
        </tr>
        <tr>
          <td width="220" align="right">Given Name : </td>
          <td><%= text_field_tag "student[firstname]"%>
            </td>
        </tr>
        <tr>
          <td width="220" align="right">Middle Name : </td>
          <td><%= text_field_tag "student[middlename]"%>
            </td>
        </tr>
        <tr>
          <td width="220" align="right">Sex: </td>
          <td><%= radio_button_tag "student[sex]", "male" %>Male
            <%= radio_button_tag "student[sex]", "female" %>Female
          </td>
        </tr>
        <tr>
          <td width="220" align="right" valign="top">Complete mailing address: </td>
          <td>
            Region : <%= select_tag "address_region_id", options_for_select(@regions, nil), :class => "text_field" %>
            <%= span_loader("address_loader") %>
            <div id="address_province_div">
              <%= render :partial => "province_select"%>
            </div>
            <div id="address_town_div">
              <%= render :partial => "town_select"%>
            </div>
            <div>Street : <%= text_field_tag "student[street]"%></div>
            <div >
              Zipcode  : <%= text_field_tag "student[zip_code]" %>
            </div>
            <div >
              Area code  : <%= text_field_tag "student[area_code]" %>
            </div>
          </td>
        </tr>
        <tr>
          <td width="220" align="right">Citizenship: </td>
          <td><%= select_tag "student[country_id]", options_for_select(@countries, nil), :class => "text_field" %>
          </td>
        </tr>
        <tr>
          <td width="220" align="right">Email Address : </td>
          <td><%= text_field_tag "student[email]"%>
            </td>
        </tr>
        <tr>
          <td width="220" align="right">Landline No. (ex. 32, 2534545) : </td>
          <td>
            <%= text_field_tag "student[telephone]"%>
            </td>
        </tr>
        <tr>
          <td width="220" align="right">Mobile No. (ex. 0927 5353434): </td>
          <td>
            <%= text_field_tag "student[mobile_no]"%>
            </td>
        </tr>
        <tr>
          <td width="220" align="right">Civil status: </td>
          <td><%= select_tag "student[marital_status]", options_for_select(@civilstatus,nil), :class => "text_field" %>
            </td>
        </tr>
        <tr>
          <td width="220" align="right">Date of Birth (mm/dd/yyyy): </td>
          <td>
          <%= select_tag "dob_month", options_for_select(Constant.months,nil)%>
          <%= select_tag "dob_day", options_for_select(Constant.days,nil) %>
          <%= select_tag "dob_year", options_for_select(Constant.years,nil) %>
            </td>
        </tr>
        <tr>
          <td width="220" align="right">Place of Birth: </td>
          <td>
            Region : <%= select_tag "pob_region_id", options_for_select(@regions, nil), :class => "text_field" %>
            <%= span_loader("pob_loader") %>
            <div id="pob_province_div">
              <%= render :partial => "pob_province_select"%>
            </div>
            <div id="pob_town_div">
              <%= render :partial => "pob_town_select"%>
            </div>
            <div> Street : <%= text_field_tag "student[pob_street]"%>
            <div >
              Zipcode  : <%= text_field_tag "student[pob_zip_code]" %>
            </div>
            <div >
              Area code  : <%= text_field_tag "student[pob_area_code]" %>
            </div>
            <div >
              Rurban code  : <%= text_field_tag "student[pob_rurban_code]" %>
            </div>
            </td>
        </tr>
        <tr>
          <td width="220" align="right">Spouse's Name: </td>
          <td>
            <%= text_field_tag "student[spouse]"%>
            Citizensip : <%= select_tag "student[spouse_citizenship_id]", options_for_select(@countries,nil)%>
            </td>
        </tr>
        <tr>
          <td width="220" align="right">Father's Name: </td>
          <td>
            <%= text_field_tag "student[father]"%>
            Citizensip : <%= select_tag "student[father_citizenship_id]", options_for_select(@countries,nil)%>
            </td>
        </tr>
        <tr>
          <td width="220" align="right">Mother's Name: </td>
          <td>
            <%= text_field_tag "mother"%>
            Citizensip : <%= select_tag "mother_citizenship", options_for_select(@countries,nil)%>
            </td>
        </tr>
        <tr>
          <td width="220" align="right">Have you ever been convicted in a final judgment by any military tribunal or administrative body? </td>
          <td>
            <%= radio_button_tag "student[convicted]", 1, false%> Yes
            <%= radio_button_tag "student[convicted]", 0, true%> No
            </td>
        </tr>
        <tr>
          <td width="220" align="right">If yes, has submitted a copy of the decision? </td>
          <td>
            <%= radio_button_tag "student[convicted_file]", 1, false%> Yes
            <%= radio_button_tag "student[convicted_file]", 0, true%> No
            </td>
        </tr>

      </table>

    </td>
  </tr>



  <tr>
    <td bgcolor="#6699FF"> EDUATIONAL INORMATION</td>
  </tr>
  <tr bgcolor="#C0C0C0">
    <td> 

      <table border="0" width="800">
        <tr>
          <td width="220" align="right">Name of school: </td>
          <td><%= text_field_tag "school_name"%></td>
        </tr>
        <tr>
          <td width="220" align="right">School Address: </td>
          <td>
            Region : <%= select_tag "school_region_id", options_for_select(@regions, nil), :class => "text_field" %>
            <%= span_loader("school_loader") %>
            <div id="school_province_div">
              <%= render :partial => "school_province_select"%>
            </div>
            <div id="school_town_div">
              <%= render :partial => "school_town_select"%>
            </div>
            <div >
              Zipcode  : <%= text_field_tag "school_zipcode" %>
            </div>
            <div >
              Area code  : <%= text_field_tag "school_areacode" %>
            </div>
            <div >
              Rurban code  : <%= text_field_tag "school_rurbancode" %>
            </div>

            </td>
        </tr>
        <tr>
          <td width="220" align="right">PRC School Code: </td>
          <td><%= text_field_tag "prc_school_code"%></td>
        </tr>
        <tr>
          <td width="220" align="right">PRC Course Code: </td>
          <td><%= text_field_tag "prc_course_code"%></td>
        </tr>
        <tr>
          <td width="220" align="right">Degree/Course Obtained: </td>
          <td><%= text_field_tag "degree"%></td>
        </tr>
        <tr>
          <td width="220" align="right">Review School Attended: </td>
          <td><%= text_field_tag "review_school_attended"%></td>
        </tr>
        <tr>
          <td width="220" align="right">Review Center Attended: </td>
          <td><%= text_field_tag "review_center_attended"%></td>
        </tr>
      </table>

    </td>
  </tr>




  <tr>
    <td bgcolor="#6699FF"> PREVIOUS NLE TAKEN</td>
  </tr>
  <tr bgcolor="#C0C0C0">
    <td> 

      <table border="0" width="800">
        <tr>
          <td width="220" align="right">Type of Examination : </td>
          <td></td>
        </tr>
        <tr>
          <td width="220" align="right">Number of Times Taken:  </td>
          <td>NX CODE</td>
        </tr>

      </table>

    </td>
  </tr>



</table>

<br/><%= submit_tag "Submit",  :class => "submit_tag" %> <%= link_to "cancel", students_path %>
<% end -%>

<%= observe_field("address_region_id", :url => {:action => :update_province_select_address }, :with => 'region_id', :loading => "$('address_loader').show()", :complete => "$('address_loader').hide()") %>

<%= observe_field("pob_region_id", :url => {:action => :update_province_select_pob }, :with => 'region_id', :loading => "$('pob_loader').show()", :complete => "$('pob_loader').hide()") %>

<%= observe_field("school_region_id", :url => {:action => :update_province_select_school }, :with => 'region_id', :loading => "$('school_loader').show()", :complete => "$('school_loader').hide()") %>