<div>
  <div id="title_header"><h1>Action Logs</h1></div>
</div>
<div style="clear:both"></div>

<table cellpadding=2 cellspacing=2 border=1 width="100%" style="border-collapse: collapse">
  <tr bgcolor="##6699FF">
    <td>Controller</td>
    <td>action</td>
    <td>attributes</td>
  </tr>
  <%
  @logs.each do |log|
    unless log.params.empty?
      history = display_formated_logs(log)
      unless history.blank?
  %>
  <tr>
    <td><%= log.controller.titleize -%></td>
    <td><%= log.action -%></td>
    <td><%= history -%></td>
  </tr>
      <% end %>
    <% end %>
  <% end %>
</table>

<%= will_paginate @logs %>

</div>