<div style="clear:both"></div>
<table cellpadding=2 cellspacing=2 border=1 width="100%" style="border-collapse: collapse">
  <tr bgcolor="##6699FF">
    <td width=230>Student Name </td>
    <td width=130>Examinee Number</td>
    <td>Test Center  and  PERRC</td>
  </tr>
  <%
  @examinees.each do |examinee|
  %>
  <tr>
    <td><%= h examinee.student.fullname -%></td>
    <td><%= h examinee.id -%></td>
    <td>
      <div id="perrc_div<%= examinee.id -%>">
        <% remote_form_for :form, :url => perrc_noa_path(examinee), :loading => "$('page_loader#{examinee.id}').show()", :complete => "$('page_loader#{examinee.id}').hide()", :html => { :method => :put } do |f|%>
          <%= select_tag "prc_location_id", options_for_select(@test_centers, nil) %>
          <%= text_field_tag "perrc" %>
          <%= submit_tag "Update"%>
        <% end %>
        <%= span_loader("page_loader#{examinee.id}")%>
      </div>
    </td>
  </tr>
  <% end %>
</table>
</div>