<div style="clear:both"></div>
<table cellpadding=2 cellspacing=2 border=1 width="100%" style="border-collapse: collapse">
  <tr bgcolor="##6699FF">
    <td width=230>Student Name </td>
    <td width=130>Examinee Number</td>
    <td>Test Center</td>
    <td>PERRC</td>
  </tr>
  <%
  @examinees.each do |examinee|
  %>
  <tr>
    <td><%= h examinee.student.fullname -%></td>
    <td><%= h examinee.id -%></td>
    <td><%= h examinee.test_center.name -%></td>
    <td><%= h examinee.perrc -%></td>
  </tr>
  <% end %>
</table>
</div>