/* CSS Document */
/* Global Styles */

body {
	margin:5px;	
	}
	
td {
	font:11px Arial, Helvetica, sans-serif;
	color:#000000;
	}
	
a {
	color: #993300;
	text-decoration: none;
	}
	
a:hover {
	color: #5C743D;
	}
	
/* ID Styles */
#tablebody {
	border:#0033FF;
	border:solid;
}
#navigation {

}
#navigation td {
	border-bottom: 1px solid #F4FFE4;
	}
	
#navigation a {
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	line-height:16px;
	letter-spacing:.1em;
	text-decoration: none;
	display:block;
	padding:8px 6px 10px 10px;
	}
	
#navigation a:hover {
	background: #0033FF;
	color:#FFFFFF;
	font-size:12px;
	text-shadow:#CCCCCC;
	}

#navigationTop td {
	}
	
#navigationTop a {
	font: bold 11px Arial, Helvetica, sans-serif;
	color: #D5EDB3;
	letter-spacing:.1em;
	text-decoration: none;
	display:block;
	padding:8px 8px 10px 12px;
	}
	
#navigationTop a:hover {
	background: #D5EDB3;
	color:#0033FF;
	font-size:10px;
	text-shadow:#CCCCCC;
	}

#monthformat {
	border-bottom: 1px dashed #5C743D;
	}
		
#dateformat {
	font:11px Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	letter-spacing:.2em;
	}
	
#dateformat a {
	font:11px Arial, Helvetica, sans-serif;
	color: #993300;
	font-weight:bold;
	letter-spacing:.1em;
	text-decoration:none;
	}
	
#dateformat a:hover {
	color: #F4FFE4;
	letter-spacing:.1em;
	}

#sidebar {
	font: bold 14px Arial, Helvetica, sans-serif;
	color: #666666;
	line-height:16px;
	letter-spacing:.1em;
	text-decoration: none;
	display:block;
	padding:5px 5px 5px 5px;
	}

#tableFormat {
	border:1px;
	border:solid;
	border:#0000FF;
	padding-left:15px;
}	
/* Class Styles */
	
.bodyText {
	font:12px Arial, Helvetica, sans-serif;
	color:#000000;
	line-height:20px;
	margin-top:0px;
	padding-left: 15x;
	}
.filter {
	font:12px Arial, Helvetica, sans-serif;
	color:#FF0000;
}

.thead {
	background-color:#6699FF;
	text-align:center;
	border:solid;
	border:#0033FF;
	border:1px;
}
.tcontent {
	font:Verdana, Arial, Helvetica, sans-serif;
}	
.pageName{
	font: 18px Arial, Helvetica, sans-serif;
	color:#0033FF;
	background-color:#C0C0C0;
	line-height:26px;
	letter-spacing:.21em;
	padding-left: 20px;
	}
	
.subHeader {
	font:bold 11px Arial, Helvetica, sans-serif;
	color: #993300;
	line-height:22px;
	letter-spacing:.2em;
	}

.quote {
	font: 20px Arial, Helvetica, sans-serif;
	color: #759DA1;
	line-height:30px;
	}
	
.smallText {
	font: 10px Arial, Helvetica, sans-serif;
	color: #666666;
	line-height: 22px;
	}
	
.navText {
	font:10px arial;
	text-transform:uppercase;
	color: #333300;
	letter-spacing:.1em;
	}
.logo {
	font:30px times new roman;
	color: #0E177C;
	letter-spacing:.1em;
	font-weight:bold;
	line-height:22px;
	}
.tagline {
	font:11px times new roman;
	color: #FFFFFF;
	letter-spacing:.2em;
	}
.borderline {
	border-bottom: 1px solid #F4FFE4;
	border-top: 1px solid #F4FFE4;
}

.menubar {
	background-image:url(../images/menu_bgcolor.jpg);
	background-repeat:repeat-y;
}
.login {
	font:8.5px arial;
	color: #333300;
	letter-spacing:.1em;
	}
.menuname{
	font:16px Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	text-align:center;
	background-color:#0033FF;
	padding:8px 6px 10px 10px;
	}

.divClass {
	position:relative;
	display:block;
	float:left;
	border-right:solid;
	border-right:1px;
	padding-left:4px;
}
.divLastClass {
	position:relative;
	display:block;
	float:left;
	padding-left:4px;
	width: 500;
}
