<div style="width:850px; background-color:#C0C0C0">
  <div style="background-color:#6699FF; height:25px; padding-top:6px; padding-left:6px"> PREVIOUS NLE TAKEN</div>

<table border=1 cellpadding=1 cellspacing=1 width="97%" align="center">
  <tr>
    <td> Name of examination </td>
    <td> Place of examination </td>
    <td> Date Taken </td>
    <td> Rating </td>
    <td> Result of examination</td>
    <td>Exam No. </td>
  </tr>
  <tr>
    <td> Name of examination </td>
    <td> Place of examination </td>
    <td> Date Taken </td>
    <td> Rating </td>
    <td> Result of examination</td>
    <td>Exam No. </td>
  </tr>
</table>  
</div>


<%= observe_field("exam_type_new", :url => {:action => :update_school_select, }, :with => 'exam_type', :loading => "$('school_loader').show()", :complete => "$('school_loader').hide()") %>
<%= observe_field("exam_type_repeater", :url => {:action => :update_school_select }, :with => 'exam_type', :loading => "$('school_loader').show()", :complete => "$('school_loader').hide()") %>
<%= observe_field("exam_type_conditioned", :url => {:action => :update_school_select }, :with => 'exam_type', :loading => "$('school_loader').show()", :complete => "$('school_loader').hide()") %>