<div style="clear:both"></div>
<table cellpadding=2 cellspacing=2 border=1 width="100%" style="border-collapse: collapse">
  <tr bgcolor="##6699FF">
    <td>Student Name </td>
    <td>School</td>
    <td>Gender</td>
    <td>Region</td>
    <td>Province</td>
    <td>Town</td>

  </tr>
  <%
  @students.each do |student|
  %>
  <tr onmouseover="$j('#student_row_actions_<%= student.id%>').show();" onmouseout="$j('#student_row_actions_<%= student.id%>').hide();" >
    <td><%= link_to student.fullname, view_student_path(student) -%></td>
    <td><%= student.school.name rescue '' %></td>
    <td><%= student.sex %></td>
    <td><%= student.region.name rescue '' %></td>
    <td><%= student.province.name rescue '' %></td>
    <td><%= student.town.name rescue ''%>
      <div id="student_row_actions_<%= student.id %>" style="display: none; float: right;">
       <%= link_to image_tag("icons/edit.png"), edit_student_path(student), :title => "Edit "  %>
      </div>
      
      </td>


  </tr>
  <% end %>
</table>

<%= will_paginate @students %>
</div>