<div style="width:850px; background-color:#C0C0C0">
  <div style="background-color:#6699FF; height:25px; padding-top:6px; padding-left:6px">EDUCATIONAL INFORMATION</div>

  <table border="0" width="100%">
    <tr>
      <td width="220" align="right">Name of school: </td>
      <td><%= @student.school.name.titleize rescue '' %></td>
    </tr>
    <tr>
      <td width="220" align="right">School Address: </td>
      <td>
        Region : <%= @student.school.region.name rescue '' %> <br/>
        Province: <%= @student.school.province.name rescue ''%> <br/>
        Municipality/City/Town : <%= @student.school.town.name rescue '' %> <br/>
        Zipcode  : <%= @student.school.zip_code rescue ''%> <br/>
        Area code  : <%= @student.school.area_code rescue ''%> <br/>
        Rurban code  : <%= @student.school.rurban_code rescue ''%> <br/>

        </td>
    </tr>
    <tr>
      <td width="220" align="right">PRC School Code: </td>
      <td><%= @student.school.prc_school_code rescue '' %></td>
    </tr>
    <tr>
      <td width="220" align="right">PRC Course Code: </td>
      <td><%= @student.school.chedreg_boardres rescue '' %></td>
    </tr>
    <tr>
      <td width="220" align="right">Degree/Course Obtained: </td>
      <td><%= h @nursing_course.name  rescue ''%> 
        <%= hidden_field_tag "student[course_id]", @nursing_course.id %>
      </td>
    </tr>
    <tr style="height: 1px; background-color:#949494">
     <td colspan=2> </td>
    </tr>
    <tr >
      <td width="220" align="right" valign="top">Review School Attended: </td>
      <td>
        <%= @student.review_school1  rescue ''%><br/>
        <%= @student.review_school2  rescue ''%><br/>
        <%= @student.review_school3  rescue ''%>
        </td>
    </tr>
    <tr style="height: 1px; background-color:#949494">
     <td colspan=2> </td>
    </tr>

    <tr>
      <td width="220" align="right" valign="top">Review Center Attended: </td>
      <td>
        <%= @student.review_center1  rescue ''%><br/>
        <%= @student.review_center2  rescue ''%><br/>
        <%= @student.review_center3  rescue ''%>
        </td>
    </tr>
    
  </table>

<%   @ed_infos = EducationalInformation.find(:all, :conditions => ["student_id = ?", @student.id])
if @ed_infos.length > 0 
%>
  <div style="background-color:#6699FF; height:25px; padding-top:6px; padding-left:6px">OTHER DEGREE(s) TAKEN</div>
  <table>
    <tr>
      <td>Course</td>
      <td>School</td>
      <td>Date Graduated</td>
   </tr>
   <%
   @ed_infos.each do |edu|
   %>
   <tr>
      <td><%= edu.course.name %></td>
      <td><%= edu.school.name %></td>
      <td><%= edu.graduated_at %></td>
    </tr>
  <% end %>
  </table>
<% end %>

</div>