<div style="width:850px; background-color:#C0C0C0">
  <div style="background-color:#6699FF; height:25px; padding-top:6px; padding-left:6px">PREVIOUS NLE TAKEN</div>

<% if @exams.length > 0 %>
  <table border="0" width="100%">
    <tr>
      <td>Test Center</td>
      <td>Exam Schedule</td>
      <td>Rating </td>
      <td>Exam No.</td>
      <td>Exam 1</td>
      <td>Exam 2</td>
      <td>Exam 3</td>
      <td>Exam 4</td>
      <td>Exam 5</td>
    </tr>

    <%
    @exams.each do |exam|
    %>
    <tr>
      <td> <%= exam.test_center.name rescue ""%></td>
      <td> <%= exam.examination_schedule.schedule rescue ""%></td>
      <td> <%= exam.rating rescue ""%></td>
      <td> <%= exam.exam_number rescue "" %></td>
      <td> <%= exam.exam1 == "1" ? "Passed" : "Failed" unless exam.exam1.nil? %> </td>
      <td> <%= exam.exam2 == "1" ? "Passed" : "Failed" unless exam.exam2.nil?  %> </td>
      <td> <%= exam.exam3 == "1" ? "Passed" : "Failed" unless exam.exam3.nil?  %> </td>
      <td> <%= exam.exam4 == "1" ? "Passed" : "Failed" unless exam.exam4.nil?  %> </td>
      <td> <%= exam.exam5 == "1" ? "Passed" : "Failed" unless exam.exam5.nil?  %> </td>
    </tr>
    <% end %>
  </table>
  
<% elsif @applicants.length > 0 %>  
  <% @applicants.each do |app|%>
  Exam Schedule: <%= app.examination_schedule.schedule %>
  <% end %>
  
<% else %>
No NLE taken yet.
<% end %>
</div>