<span class="page_title">Edit User</span>
<%= span_loader("schools_loader") %>
<br/><br/> 
<% form_tag user_path(@user), :method => 'put' do %>
<ul style="list-style:none; margin: 0px; padding:0px">
  <li>Firstname: </li>
  <li ><%= text_field_tag "user[firstname]", @user.firstname, :class => "text_field" -%></li>
  <li >Lastname: </li>
  <li ><%= text_field_tag "user[lastname]", @user.lastname, :class => "text_field" -%></li>

  <li> Role: </li>
  <li><%= select_tag "role_code", options_for_select(@roles, @user.role_code), :class => "text_field" %>
    <div id="schools_div">
      <% if current_user.role_code.to_s == "registrar" %>
      <%= render :partial => "users/schools_select" -%>
      <% end %>
    </div>
    </li>

  <li> PRC Location Handled: </li>
  <li><%= select_tag "user[location]", options_for_select(@prc_locations, @user.location), :class => "text_field" %></li>
  <li>Employee No.: </li>
  <li><%= text_field_tag "user[employee_no]", @user.employee_no, :class => "text_field" %></li>
  <li>Username: </li>
  <li><%= text_field_tag "user[username]", @user.username, :class => "text_field" %></li>
  <li>Password: </li>
  <li><%= password_field_tag "user[password]", @user.password, :class => "text_field" %></li>
  <li>Access status: </li>
  <li>Enable: <%= radio_button_tag "user[is_active]", "1", (@user.is_active == true) %>
    Disable: <%= radio_button_tag "user[is_active]", "0", (@user.is_active == false) %>
    </li>
  <li>
  <br/><%= submit_tag "Submit",  :class => "submit_tag" %> <%= link_to "cancel", users_path %></li>
</ul>
<% end -%>

<%= observe_field("role_code", :url => {:action => :update_schools_div }, :with => 'role_code', :loading => "$('schools_loader').show()", :complete => "$('schools_loader').hide()") %>
