<span class="page_title">Add User</span>
<%= span_loader("schools_loader") %>
<br/><br/>
<% form_tag new_user_path, :method => 'post' do %>
<ul style="list-style:none; margin: 0px; padding:0px">
  <li>Firstname: </li>
  <li ><%= text_field_tag "user[firstname]",nil, :class => "text_field" -%></li>
  <li >Lastname: </li>
  <li ><%= text_field_tag "user[lastname]", nil, :class => "text_field" -%></li>

  <li> Role: </li>
  <li><%= select_tag "role_code", options_for_select(@roles,nil), :class => "text_field" %>
    <div id="schools_div"></div>
    </li>

  <li><span id="prc_location">PRC Location Handled: </span></li>
  <li><%= select_tag "user[location]", options_for_select(@prc_locations,nil), :class => "text_field" %></li>
  <li>Employee No.: </li>
  <li><%= text_field_tag "user[employee_no]",nil, :class => "text_field" %></li>
  <li>Username: </li>
  <li><%= text_field_tag "user[username]", nil, :class => "text_field" %></li>
  <li>Password: </li>
  <li><%= password_field_tag "user[password]", nil, :class => "text_field" %></li>
  <li>Confirm Password: </li>
  <li><%= password_field_tag "password_confirmation", nil, :class => "text_field" %></li>

  <li>Access status: </li>
  <li>Enable: <%= radio_button_tag "user[is_active]", "1", false %>
    Disable: <%= radio_button_tag "user[is_active]", "0", true %>
    </li>
  <li>
  <br/><%= submit_tag "Submit",  :class => "submit_tag" %> <%= link_to "cancel", users_path %></li>
</ul>
<% end -%>

<%= observe_field("role_code", :url => {:action => :update_schools_div }, :with => 'role_code', :loading => "$('schools_loader').show()", :complete => "$('schools_loader').hide()") %>


<script>
  $j("#role_code").change(function() {
    var role = $j("#role_code").val();
    if (role == "foster") {
      $j("#user_location").hide();
      $j("#prc_location").hide();
    }else{
      $j("#user_location").show();
      $j("#prc_location").show();
    }
  });
</script>
