<div id="add_province" style="margin-bottom: 10px"></div>
Provinces (<%= @region.name -%>) :
<%= link_to_remote "add", :url => add_provinces_addresses_path(:region_id => @region.id), :method => :get %>
<br/>
<ul>
<% @provinces.each do |p| %>
  <li>
    <div id="province_row_<%= p.id%>">
      <%= render :partial => "province_row", :locals => {:province => p} %>
    </div>
  </li>
<% end %>
</ul>
