<%= span_loader(:addresses_loader) -%>
<div id="regions">
  Regions : 
  <ul>
  <% @regions.each do |r|%>
    <li><%= link_to_remote r.name.to_s, :url => show_provinces_addresses_path(:region_id => r.id), :method => :get, :loading => "$('addresses_loader').show()", :complete => "$('addresses_loader').hide()"  %> </li>
  <% end %>
  </ul>
</div>

<div id="provinces">
</div>
<div id="towns">
</div>
