<%= span_loader(:addresses_loader) -%>
<div id="regions" style="width:200px;padding-top:5px">
  Regions : 
  <%= link_to_remote "add", :url => add_regions_addresses_path, :method => :get %>
  <div id="add_region_div"></div>
  <div id="all_regions">
    <%= render :partial => "regions", :locals => { :regions => @regions }%>
  </div>
</div>

<div id="provinces">
</div>

<div id="towns">
</div>