<h1>Welcome to Philippine Nursing Online System</h1>


<% unless current_user.school.nil? 
  if current_user.school.chedreg_boardres.to_s.blank?
%>
<p>
  <span style="color:red">
    You have not filled up your CHED RECOGNITION / BOARD RESOLUTION code yet. 
    <%= link_to "Please click here to update it. ", chedrecognitions_path %>
  </span>
</p>
<% end
end
%>

  <p></p>

