<h1>Welcome to Philippine Nursing Online System</h1>


<% unless current_user.school.nil? 
  if current_user.school.chedreg_boardres.to_s.blank?
%>
<p>
  <span style="color:red">
    You are not filled up your CHED RECOGNITION / BOARD RESOLUTION code yet. 
    <%= link_to "Please click here to update it. ", chedrecognitions_path %>
  </span>
</p>
<% end
end
%>

  <p>This Home Page layout makes a great starting point for your website. Virtually all of the content is customizable, including the images, the text, and the links. You can decide whether to keep the existing graphics or swap them out for pictures of your own </p>
  <p>
The text on this page is intended to help you jumpstart your design by suggesting the sortr of content you may want to includer, but dont let it limit you. The same is also true for the linkdsf text feel free to change the names of the links to better suit your particular needs. The Home Page layout can be used for multiple pages on your site, or you can choose from the Text, Catalogue, Product, or Calendar layouts as well. Dont be afraid to get creative and combine different page layouts to make your site as engaging as possible. If you have any questions about using Contribute to edit these pages, refer to the Read Me file included with the download or to the Contribute Help System. Have fun and make a great website!
	</p>

