<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head >
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title><%= @page_title -%></title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag "jquery-1.4.2.min" %>

    <%= javascript_include_tag "jquery.date_input" %>
    <%= javascript_include_tag "jquery.date_input.min" %>
    <%= javascript_include_tag "jquery.date_input.pack" %>    
    
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "prototype" %>
    <%= javascript_include_tag "effects" %>
    <%= javascript_include_tag "controls" %>
    <%= javascript_include_tag "helpers" %>
    <%= javascript_include_tag "dragdrop" %>

    <meta name="google-site-verification" content="kNbaqGKNP7YwBv98dLu_DTWIVhP4cUHBbvC1QxdjcqM" />
</head>
<body>

<div id="top_banner">
    <div>
      <%= image_tag("bongif.gif", :size => "100x100", :align => "left") -%>
      <div id="logo_text">
        NURSING SYSTEM <br/>
        <span>Philippine Nursing Online System </span>
      </div>

      <div id="top_school" onclick="location.href='<%= chedrecognitions_path %>'">
        <% unless current_user.school.nil? %>
          <%= current_user.school.name.titleize %>
          <div>
          <%= current_user.school.complete_address.titleize %>
          </div>
        <% end %>
      </div>
      
      <div id="top_menu">
        <%= link_to "Dashboard", dashboard_path -%> |
        <%= link_to "Log-out", stop_sessions_path -%>
        <div id="date_today">Today is <%= Time.now.strftime("%a %B %d, %Y") -%> </div>
      </div>
    </div>
</div>

<div id="content_wrapper">
  <%= render :partial => "globals/sidebar" %>

  <div id="main_content">
    <div id="temp_holder"></div>
    <div id="notice_or_error">
      <%= render :partial => "globals/notice_or_error", :locals => {:message => flash[:error], :type => 'error'} if flash[:error] %>
      <%= render :partial => "globals/notice_or_error", :locals => {:message => flash[:notice], :type => 'notice'} if flash[:notice] %>
    </div>
    <%= yield -%>
  </div>
</div>

<div id="footer">
 Copyright 2010 © Board of Nursing. All rights reserved.
 <%= link_to "Feedback and Comments", new_feedback_path %>
</div>

</body>
</html>


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18624920-1']);
  _gaq.push(['_setDomainName', '.run-for.it']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>