<div style="width:850px; background-color:#C0C0C0">
  <div style="background-color:#6699FF; height:25px; padding-top:6px; padding-left:6px"> PERSONAL INFORMATION</div>

  <table border="0" width="840">
    <tr>
      <td width="220" align="right">Surname/Family Name :</td>
      <td><%= text_field_tag "student[lastname]", @student.lastname %></td>
    </tr>
    <tr>
      <td width="220" align="right">Given Name : </td>
      <td><%= text_field_tag "student[firstname]", @student.firstname %>
        </td>
    </tr>
    <tr>
      <td width="220" align="right">Middle Name : </td>
      <td><%= text_field_tag "student[middlename]", @student.middlename %>
        </td>
    </tr>
    <tr>
      <td width="220" align="right">Date of Birth (mm/dd/yyyy): </td>
      <td>
        <% dob = @student.date_of_birth.to_s.split("-")      %>
      <%= select_tag "dob_month", options_for_select(Constant.months, dob[1].to_i)%>
      <%= select_tag "dob_day", options_for_select(Constant.days, dob[2].to_i) %>
      <%= select_tag "dob_year", options_for_select(Constant.years,dob[0.to_i]) %>
        </td>
    </tr>
    <tr>
      <td width="220" align="right">Sex: </td>
      <td><%= radio_button_tag "student[sex]", "male", (@student.sex.to_s == "male" ? true : nil) %>Male
        <%= radio_button_tag "student[sex]", "female", (@student.sex.to_s == "female" ? true : nil) %>Female
      </td>
    </tr>
    <tr>
      <td width="220" align="right">Year level : </td>
      <td><%= select_tag "student[year]", options_for_select(Constant::YEAR_LEVELS, @student.year)%>
        </td>
    </tr>
    <tr>
      <td width="220" align="right" valign="top">Complete mailing address: </td>
      <td>
        Region : <%= select_tag "address_region_id", options_for_select(@regions, @student.region_id), :class => "text_field" %>
        <%= span_loader("address_loader") %>
        <div id="address_province_div">
          <%= render :partial => "province_select", :locals => { :provinces => @add_provinces, :selected_id => @student.province_id}%>
        </div>
        <div id="address_town_div">
          <%= render :partial => "town_select", :locals => { :towns => @add_towns, :selected_id => @student.town_id}%>
        </div>
        <div>Street : <%= text_field_tag "student[street]", @student.street, :size => 60%></div>
      </td>
    </tr>
    <tr>
      <td width="220" align="right">Citizenship: </td>
      <td><%= select_tag "student[country_id]", options_for_select(@countries, @student.country_id), :class => "text_field" %>
      </td>
    </tr>
    <tr>
      <td width="220" align="right">Email Address : </td>
      <td><%= text_field_tag "student[email]", @student.email %>
        </td>
    </tr>
    <tr>
      <td width="220" align="right">Landline No. (ex. 32, 2534545) : </td>
      <td>
        <%= text_field_tag "student[telephone]", @student.telephone %>
        </td>
    </tr>
    <tr>
      <td width="220" align="right">Mobile No. (ex. 0927 5353434): </td>
      <td>
        <%= text_field_tag "student[mobile_no]", @student.mobile_no %>
        </td>
    </tr>
    <tr>
      <td width="220" align="right">Civil status: </td>
      <td><%= select_tag "student[marital_status]", options_for_select(@civilstatus, @student.marital_status), :class => "text_field" %>
        </td>
    </tr>
    <tr>
      <td width="220" align="right" valign="top">Place of Birth: </td>
      <td>
        Region : <%= select_tag "pob_region_id", options_for_select(@regions, @student.pob_region_id), :class => "text_field" %>
        <%= span_loader("pob_loader") %>
        <div id="pob_province_div">
          <%= render :partial => "pob_province_select", :locals => { :provinces => @pob_provinces, :selected_id => @student.pob_province_id}%>
        </div>
        <div id="pob_town_div">
          <%= render :partial => "pob_town_select", :locals => { :towns => @pob_towns, :selected_id => @student.pob_town_id}%>
        </div>
        <div> Street : <%= text_field_tag "student[pob_street]", @student.pob_street, :size => 60 %>
        </td>
    </tr>
    <tr>
      <td width="220" align="right">Spouse's Name: </td>
      <td>
        <%= text_field_tag "student[spouse]", @student.spouse %>
        Citizensip : <%= select_tag "student[spouse_citizenship_id]", options_for_select(@countries, @student.spouse_citizenship_id)%>
        </td>
    </tr>
    <tr>
      <td width="220" align="right">Father's Name: </td>
      <td>
        <%= text_field_tag "student[father]", @student.father %>
        Citizensip : <%= select_tag "student[father_citizenship_id]", options_for_select(@countries, @student.father_citizenship_id)%>
        </td>
    </tr>
    <tr>
      <td width="220" align="right">Mother's Name: </td>
      <td>
        <%= text_field_tag "mother", @student.mother %>
        Citizensip : <%= select_tag "mother_citizenship", options_for_select(@countries, @student.mother_citizenship_id)%>
        </td>
    </tr>
    <tr>
      <td width="220" align="right">Have you ever been convicted in a final judgment by any military tribunal or administrative body? </td>
      <td>
        <%= radio_button_tag "student[convicted]", 1, (@student.convicted? ? true : nil) %> Yes
        <%= radio_button_tag "student[convicted]", 0, (@student.convicted? ? true : nil) %> No
        </td>
    </tr>
    <tr>
      <td width="220" align="right">If yes, has submitted a copy of the decision? </td>
      <td>
        <%= radio_button_tag "student[convicted_file]", 1, (@student.convicted_file? ? true : nil)%> Yes
        <%= radio_button_tag "student[convicted_file]", 0, (@student.convicted_file? ? true : nil)%> No
        </td>
    </tr>


    <tr style="height: 1px; background-color:#949494">
     <td colspan=2> </td>
    </tr>
    <tr >
      <td width="220" align="right" valign="top">Review School Attended: </td>
      <td><%= select_tag "review_school1", options_for_select(@review_schools, @student.review_school1)%><br/>
        <%= select_tag "review_school2", options_for_select(@review_schools,@student.review_school2)%><br/>
        <%= select_tag "review_school3", options_for_select(@review_schools,@student.review_school3)%>
        </td>
    </tr>
    <tr style="height: 1px; background-color:#949494">
     <td colspan=2> </td>
    </tr>

    <tr>
      <td width="220" align="right" valign="top">Review Center Attended: </td>
      <td><%= select_tag "review_center1", options_for_select(@review_centers,@student.review_center1)%><br/>
        <%= select_tag "review_center2", options_for_select(@review_centers,@student.review_center2)%><br/>
        <%= select_tag "review_center3", options_for_select(@review_centers,@student.review_center3)%>
        </td</td>
    </tr>


  </table>

</div>

