<div style="width:850px; background-color:#C0C0C0">
  <div style="background-color:#6699FF; height:25px; padding-top:6px; padding-left:6px">EDUCATIONAL INFORMATION</div>

  <table border="0" width="100%">
    <tr>
      <td width="220" valign="top" align="right">Name of school: </td>
      <td>
      <%#= current_user.fullname %>
      <%= select_tag "school_id", options_for_select(@schools) -%>
      <div id="school_info_div" style="clear:both">
      </div>
      </td>
    </tr>

<!--    <tr>
      <td width="220" align="right">School Address: </td>
      <td>
        Region : <%#= current_user.school.region.name unless current_user.school.region.nil?%>
        <div id="school_province_div">
          Province: <%#= current_user.school.province.name unless current_user.school.province.nil?%>
        </div>
        <div id="school_town_div">
          Municipality/City/Town : <%#= current_user.school.town.name unless current_user.school.town.nil?%>
        </div>
        <div >
          Zipcode  : <%#= current_user.school.zip_code%>
        </div>
        <div >
          Area code  : <%#= current_user.school.area_code%>
        </div>
        <div >
          Rurban code  : <%#= current_user.school.rurban_code%>
        </div>
        </td>
    </tr>
-->

    
    
    <tr>
      <td width="220" align="right">Degree/Course Obtained: </td>
      <td><%= h @nursing_course.name %> 
        <%= hidden_field_tag "student[course_id]", @nursing_course.id %>
      </td>
    </tr>
    <tr style="height: 1px; background-color:#949494">
     <td colspan=2> </td>
    </tr>
    <tr >
      <td width="220" align="right" valign="top">Review School Attended: </td>
      <td><%= select_tag "review_school1", options_for_select(@review_schools,nil)%><br/>
        <%= select_tag "review_school2", options_for_select(@review_schools,nil)%><br/>
        <%= select_tag "review_school3", options_for_select(@review_schools,nil)%>
        </td>
    </tr>
    <tr style="height: 1px; background-color:#949494">
     <td colspan=2> </td>
    </tr>

    <tr>
      <td width="220" align="right" valign="top">Review Center Attended: </td>
      <td><%= select_tag "review_center1", options_for_select(@review_centers,nil)%><br/>
        <%= select_tag "review_center2", options_for_select(@review_centers,nil)%><br/>
        <%= select_tag "review_center3", options_for_select(@review_centers,nil)%>
        </td</td>
    </tr>
  </table>

</div>