<div style="width:850px; background-color:#C0C0C0">
  <div style="background-color:#6699FF; height:25px; padding-top:6px; padding-left:6px; font-size:14px; font-weight:bold">NURSE'S APPLICATION FORM</div>
  <table border="0" width="800">
    <tr>
      <td width="220" align="right">Examinee Type: </td>
      <td>
        <%= radio_button_tag "exam_type", "new", true %>1st Timer (New)
        <%= radio_button_tag "exam_type", "repeater" %>Repeater
        <%= radio_button_tag "exam_type", "conditioned" %>Conditioned
        </td>
    </tr>
    <tr>
      <td width="220" align="right" valign="top">Degree: </td>
      <td><%= radio_button_tag "degree", "1", true %>Regular B.S. Nursing
        <%= radio_button_tag "degree", "0", false %>With Other Degree(s)
        <%= span_loader("degree_loader")%>
        <div id="degree_div">
        </div>
      </td>
    </tr>
  </table>
</div>

<%= observe_field("degree_0", :url => {:action => :update_degree }, :with => 'degree', :loading => "$('degree_loader').show()", :complete => "$('degree_loader').hide()") %>
<%= observe_field("degree_1", :url => {:action => :update_degree }, :with => 'degree', :loading => "$('degree_loader').show()", :complete => "$('degree_loader').hide()") %>