<div style="width:850px; background-color:#C0C0C0">
  <div style="background-color:#6699FF; height:25px; padding-top:6px; padding-left:6px"> PERSONAL INFORMATION</div>

  <table border="0" width="800">
    <tr>
      <td width="220" align="right">Surname/Family Name :</td>
      <td><%= @student.lastname %></td>
    </tr>
    <tr>
      <td width="220" align="right">Given Name : </td>
      <td><%= @student.firstname %>
        </td>
    </tr>
    <tr>
      <td width="220" align="right">Middle Name : </td>
      <td><%= @student.middlename %>
        </td>
    </tr>
    <tr>
      <td width="220" align="right">Date of Birth (mm/dd/yyyy): </td>
      <td>
      <%= @student.date_of_birth %>
        </td>
    </tr>
    <tr>
      <td width="220" align="right">Sex: </td>
      <td><%= @student.sex %>

      </td>
    </tr>
    <tr>
      <td width="220" align="right">Year level : </td>
      <td><%= @student.year %>
        </td>
    </tr>
    <tr>
      <td width="220" align="right" valign="top">Complete mailing address: </td>
      <td>
        Region : <%= @student.region.name %> <br/>
        Province : <%= @student.province.name %><br/>
        Town/City : <%= @student.town.name %><br/>
        Street : <%= @student.street %><br/>
      </td>
    </tr>
    <tr>
      <td width="220" align="right">Citizenship: </td>
      <td><%= @student.country.name %>
      </td>
    </tr>
    <tr>
      <td width="220" align="right">Email Address : </td>
      <td><%= @student.email%>
        </td>
    </tr>
    <tr>
      <td width="220" align="right">Landline No. (ex. 32, 2534545) : </td>
      <td>
        <%=  @student.telephone %>
        </td>
    </tr>
    <tr>
      <td width="220" align="right">Mobile No. (ex. 0927 5353434): </td>
      <td>
        <%= @student.mobile_no %>
        </td>
    </tr>
    <tr>
      <td width="220" align="right">Civil status: </td>
      <td><%= @student.marital_status %>
        </td>
    </tr>
    <tr>
      <td width="220" align="right" valign="top">Place of Birth: </td>
      <td>
        <%
        pob_region = Region.find(:first, :conditions => ["id = ?", @student.pob_region_id])
        pob_province = Province.find(:first, :conditions => ["id = ?", @student.pob_province_id])
        pob_town = Town.find(:first, :conditions => ["id = ?", @student.pob_town_id])
        %>
        Region : <%= pob_region.name %> <br/>
        Province : <%= pob_province.name %><br/>
        Town/City : <%= pob_town.name %><br/>
        Street : <%= @student.pob_street %><br/>
      </td>
    </tr>
    <tr>
      <td width="220" align="right">Spouse's Name: </td>
      <td>
        <%= @student.spouse %>
        <%
        unless @student.spouse.nil?
            spouse_citizenship = Country.find(:first, :conditions => ["id = ?", @student.spouse_citizenship_id]) rescue nil
            unless spouse_citizenship.nil?
            %>
            Citizensip : <%= spouse_citizenship.name %>
            <% end %>
        <% end %>
        </td>
    </tr>
    <tr>
      <td width="220" align="right">Father's Name: </td>
      <td>

        <%= @student.father %>
        <%
        unless @student.father.nil?
            father_citizenship = Country.find(:first, :conditions => ["id = ?", @student.father_citizenship_id]) rescue nil
            unless father_citizenship.nil?
            %>
            Citizensip : <%= father_citizenship.name %>
            <% end %>
        <% end %>
        
        
        </td>
    </tr>
    <tr>
      <td width="220" align="right">Mother's Name: </td>
      <td>
        <%= @student.mother %>
        <%
        unless @student.mother.nil?
            mother_citizenship = Country.find(:first, :conditions => ["id = ?", @student.mother_citizenship_id]) rescue nil
            unless mother_citizenship.nil?
            %>
            Citizensip : <%= mother_citizenship.name %>
            <% end %>
        <% end %>
        </td>
    </tr>
    <tr>
      <td width="220" align="right">Have you ever been convicted in a final judgment by any military tribunal or administrative body? </td>
      <td>
        <%= @student.convicted? ? "Yes" : "NO" %>
        </td>
    </tr>
    <tr>
      <td width="220" align="right">If yes, has submitted a copy of the decision? </td>
      <td>
        <%= @student.convicted_file? ? "Yes" : "NO" %>

        </td>
    </tr>

  </table>

</div>

