<% checked = app.has_envelope? ? "checked" : "" %>
<input type="checkbox" onchange="status_report.toogle_status_envelope(<%=app.id-%>, this.checked)" <%= checked -%> >
<%= span_loader("status_envelope_loader_#{app.id}") -%>
