<span> Review Schools </span>
<span> <%= link_to "Add review school", new_test_center_path %> </span>
<br/><br/>

<% unless @test_centers.empty? %>
<table border=1 style="border-collapse: collapse">
  <tr>
    <td width="360"> Name </td>
    <td width="70"> Code </td>
    <td width="400"> Address </td>
    <td width="80"> </td>
  </tr>
  
  <% @test_centers.each do |center| %>
  <tr>
     <td><%= center.name rescue ''%></td>
     <td><%= center.code rescue ''%></td>
     <td><%= center.address rescue ''%></td>
    <td><%= link_to "Edit", edit_test_center_path(center)%> <%= link_to "Delete", test_center_path(center), :confirm => "Are you sure you want to delete this?", :method => 'delete'%></td>     
  </tr>
  <% end %>
</table>

<%= will_paginate @test_centers %>
<% end%>