Add Review School
<% form_tag test_centers_path, :method => :post do -%>

<table>
  <tr>
    <td>Name</td>
    <td><%= text_field_tag "rschool[name]", nil %></td>
  </tr>
  <tr>
    <td>Code </td>
    <td><%= text_field_tag "rschool[code]", nil %></td>
  </tr>
  <tr>
    <td>Address</td>
    <td><%= text_field_tag "rschool[address]", nil %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= submit_tag "Submit" %> <%= link_to "Cancel", test_centers_path %>
</table>
  
<% end -%>