<% checked = app.has_marriage ? "checked" : "" %>
<input type="checkbox" onchange="status_report.toogle_status_marriage(<%=app.id-%>, this.checked)" <%= checked -%> >
<%= span_loader("status_marriage_loader_#{app.id}") -%>
