<h3> Send us your feedbacks and suggestions </h3>
<% form_for :feedback, :url => feedbacks_path, :html => { :method => :post } do |f|%>
<table>
  <tr>
    <td>Name : </td>
    <td> <%= f.text_field :name %></td>
  </tr>
  <tr>
    <td>Subject : </td>
    <td> <%= f.text_field :subject %></td>
  </tr>
  <tr>
    <td>Description : </td>
    <td> <%= f.text_area :description %></td>
  </tr>
  <tr>
    <td></td>
    <td> <%= submit_tag "Submit" %></td>
  </tr>

</table>
<% end %>