Add registrar:<br/><br/>
<% form_tag adduser_schools_path(:school_id => @school.id) do -%>
Firstname : <%= text_field_tag "firstname" %><br/>
Lastname : <%= text_field_tag "lastname" %><br/>
Username : <%= text_field_tag "username" %><br/>
Password : <%= password_field_tag "password" %><br/>
Status : <%= radio_button_tag "status", 1, true %> Active <%= radio_button_tag "status", 0, false %> Inactive<br/>
<%= submit_tag "Submit" %>
  <%= link_to "Cancel", schools_path %>


<% end %>