<div id="sidebar">

  <span style="margin-left: 3px">
  Hi <%= current_user.firstname -%>!
  </span>
  <br/>

  <div id="menu">
    <ul>
  <% case current_user.role_code.to_s
  when "admin" %>
  	  <li><%= link_to "School Entry", schools_path %></li>
  		<li><%= link_to "Address Entry", addresses_path %></li>
  		<li><%= link_to "PRC Locations", prc_locations_path %></li>
  		<li><%= link_to "Students", students_path %></li>
  		<li><%= link_to "System Users", users_path %></li>
  		<li><%= link_to "Review Schools", test_centers_path %></li>
  		<li><%= link_to "Review Centers", review_centers_path %></li>
  		<li><%= link_to "Exam Schedule", exam_schedules_path %></li>
  <% when "registrar"%>
    <li><%= link_to "Students", students_path %></li>
    <li><%= link_to "Applicants", status_reports_path %></li>
    <li><%= link_to "NLE", "#" %>
      <div id="submenu">
        <ul>
          <li>
            <%= link_to "List of Examinees", list_examinees_nles_path %>
            <ul style="margin-left: -4px">
              <li><%= link_to "With S.O", list_examinees_nles_path(:so => 'yes') %> </li>
              <li><%= link_to "Without S.O", list_examinees_nles_path(:so => 'no') %></li>
            </ul>
          </li>
          <li><%= link_to "Paid Examinees", paid_examinees_nles_path %></li>
          <li><%= link_to "Student Locator", testing_center_nles_path %></li>
          <li> <%= link_to "Results", results_nles_path %></li>
        </ul>
      </div>
      </li>
    <li><%= link_to "Transfers", "#" %>
      <div id="submenu">
        <ul>
          <li><%= link_to "Accept", accept_transfers_path %></li>
          <li><%= link_to "Release", release_transfers_path %></li>
          <li><%= link_to "History", history_transfers_path %></li>
        </ul>
      </div>
    </li>
    <li><%= link_to "With Foster Students", with_foster_students_path %></li>
    <li><%= link_to "CHED Recognition", chedrecognitions_path %></li>
    <% when "foster" %>
      <li><%= link_to "Students", foster_students_path %></li>
      <li><%= link_to "Applicants", foster_status_reports_path %></li>
      <li><%= link_to "NLE", foster_nles_path %>
        <div id="submenu">
          <ul>
            <li><%= link_to "List of Examinees", list_examinees_foster_nles_path %></li>
            <li><%= link_to "Paid Examinees", paid_examinees_foster_nles_path %></li>
            <li><%= link_to "Student Locator", testing_center_foster_nles_path %></li>
            <li> <%= link_to "Results", results_foster_nles_path %></li>
          </ul>
        </div>
        </li>
      <li><%= link_to "CHED Recognition", foster_chedrecognitions_path %></li>
  <% when "cashier" %>
    <li><%= link_to "Students", list_students_cashiers_path %></li>
    <li><%= link_to "Payment History", history_cashiers_path  %></li>
  <% when "noa" %>
    <li><%= link_to "Students", list_students_noas_path %></li>
    <li><%= link_to "Entry History", history_noas_path %></li>
    <% if location_is_test_center %>
    <li><%= link_to "List of Examinees", list_examinees_noas_path %></li>
    <% end %>
  <% end %>
  	  <li><%= link_to "Logs", actionlogs_path %></li>
  	</ul>
  </div>

</div>
