<div style="clear:both"></div>
<table cellpadding=2 cellspacing=2 border=1 width="100%" style="border-collapse: collapse">
  <tr bgcolor="##6699FF">
    <td>Student Name </td>
    <td>School</td>
    <td>Amount</td>
    <td>OR. No.</td>
    <td>Date Paid</td>
  </tr>
  <%
  @payments.each do |payment|
  %>
  <tr>
    <td><%= payment.student.fullname -%></td>
    <td><%= payment.student.school.name rescue "" -%></td>
    <td><%= payment.price.amount %></td>
    <td><%= payment.or_number %></td>
    <td><%= payment.created_at.strftime("%B %d, %Y") %></td>
  </tr>
  <% end %>
</table>
</div>