<div>
  <div id="title_header"><h1>Cashiers </h1></div>
  <div id="add_school"><%= link_to "Add cashier >>", new_cashier_path %> </div>
</div>
<div style="clear:both"></div>

<table cellpadding=2 cellspacing=2 border=1 width=740 style="border-collapse: collapse">
  <tr bgcolor="##6699FF">
    <td>Cashier name </td>
    <td>Location Handled</td>
    <td>Access</td>
    <td>Action</td>
  </tr>
  <%
  @cashiers.each do |cashier|
    province = Province.find(cashier.location)
  %>
  <tr>
    <td><%= cashier.fullname.titleize -%></td>
    <td><%= province.name -%></td>
    <td><%= cashier.status_name -%></td>
    <td>
      <div id="actions">
        <%= link_to "edit", edit_cashier_path(cashier) %>
        <%= link_to "delete", cashier_path(cashier), :confirm => "Are you sure you want to delete this?", :method => "delete" %>
      </div>
    </td>
  </tr>
  <% end %>
</table>
</div>